{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('main_index') }}">Реддиты</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {#<li class="nav-item active">#}
                    {#<a class="nav-link" href="#">Home</a>#}
                    {#</li>#}
                </ul>

                {% if is_granted('ROLE_USER') %}
                    <span class="mr-2">пользователь: {{ app.user.email }}</span>
                    <a href="{{ path('user_logout') }}" class="btn btn-primary">Выйти</a>
                {% else %}
                    <a href="{{ path('user_register') }}" class="btn btn-primary">Регистрация</a>
                    <a href="{{ path('user_login') }}" class="btn btn-primary ml-2">Войти</a>
                {% endif %}

            </div>
        </div>
    </nav>

    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active pl-0" href="{{ path('main_index') }}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('favorite_show_favorites') }}">Мои избранные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('favorite_show_all_favorites') }}">Избранные сообщества</a>
            </li>
        </ul>
    </div>

    <hr class="mt-0">

    <div class="container">
        {% block content %}{% endblock %}
    </div>

{% endblock %}