{% extends 'layout.html.twig' %}

{% block title %}Мои избранные{% endblock %}

{% block content %}

    {% for row in records|batch(4) %}
        <div class="row">
            {% for record in row %}
                <div class="col-md-3">
                    <div class="card w-100 mt-4">
                        {% if record.data['thumbnail'] == 'self' or record.data['thumbnail'] == 'default' %}
                            <img class="card-img-top" style="height: 200px;" src="{{ asset('images/no-image.jpg') }}"
                                 alt="Card image cap">
                        {% else %}
                            <img class="card-img-top" style="height: 200px;" src="{{ record.data['thumbnail'] }}"
                                 alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ record.data['title']|truncate(15) }}</h5>
                            <p class="card-text">Автор: {{ record.data['author'] }}</p>
                            <p class="card-text small">
                                Опубликовано: {{ record.data['created_utc']|date('d/m/Y H:i') }}</p>
                            <div class="text-center">
                                <a href="{{ path('favorite_show', {id : record.data['name']}) }}" class="btn btn-primary">Смотреть</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="navigation mt-4">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
