{% extends 'layout.html.twig' %}

{% block title %}{{ record.title }}{% endblock %}

{% block content %}

    <div class="text-center m-4">
        {% if record.thumbnail == 'self' or record.thumbnail == 'default' %}
            <img src="{{ asset('images/no-image.jpg') }}" class="img-fluid" alt="Responsive image"
                 style="height: 400px;">
        {% else %}
            <img src="{{ record.url }}" class="img-fluid" alt="Responsive image" style="height: 400px;">
        {% endif %}
    </div>

    <ul class="list-group">
        <li class="list-group-item"><strong>Автор:</strong> {{ record.author }}</li>
        <li class="list-group-item"><strong>Заголовок:</strong> {{ record.title }}</li>
        <li class="list-group-item"><strong>Дата публикации:</strong> {{ record.created_utc|date('d/m/Y H:i') }}</li>
        <li class="list-group-item"><strong><i class="far fa-star"></i></strong> {{ record.favorites }}</li>
    </ul>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} mt-4 mb-0 text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if is_granted('ROLE_USER') %}
        {% if isFavorite %}
            <div class="text-center mt-4">
                <a href="#" class="btn btn-secondary disabled" role="button" aria-disabled="true">Добавлено в
                    избранное</a>
            </div>
        {% else %}
            <div class="text-center m-4">
                {{ form_start(form) }}
                {{ form_row(form.submit, {'attr' : {'class' : 'btn-primary'}}) }}
                {{ form_end(form) }}
            </div>
        {% endif %}

    {% endif %}

{% endblock %}
