{% extends 'layout.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block content %}

    <h1 class="text-center m-4">Регистрация</h1>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {{ form_start(form, {'attr' : {'novalidate' : 'movalidate'}}) }}
            {{ form_row(form.email, {'attr' : {'placeholder' : 'Email'}}) }}
            {{ form_row(form.plainPassword.first, {'attr' : {'placeholder' : 'Пароль'}}) }}
            {{ form_row(form.plainPassword.second, {'attr' : {'placeholder' : 'Повторите пароль'}}) }}
            <div class="text-center">
                {{ form_row(form.submit, {'attr' : {'class' : 'btn-primary'}}) }}
            </div>
            {{ form_end(form) }}
            <p class="text-center"><a href="#">Войти</a></p>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}
